body {
    background-color: aqua
}
h1{
    background-color: antiquewhite
}
#tekst1 {
background-color: blue
}

h2 {
    background-color: aquamarine
}
#tekst2 {
    background-color: coral
}

ol {
    background-color: chartreuse
}